<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

  <!--FOR LOGIN - SIGNUP-->
  <!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/main.css') }}">
<!--===============================================================================================-->

  <!--FOR HOME-->
      <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='assets/css/font-awesome.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='assets/css/main-style.css') }}">

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">DY<em> FITNESS</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        {% if user.is_authenticated %}
                            <li class="scroll-to-section"><a id="home" class="active" href="/">Home</a></li>
                            <li class="scroll-to-section"><a href="#schedule">Generate Fitness Regime</a></li>
                            <li class="scroll-to-section"><a href="#nearby_gymss">Nearby GYMs</a></li>
                            <li class="scroll-to-section"><a href="#call-to-action">About</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            <li class="scroll-to-section"><a id="logout" href="/logout">Logout</a></li>
                        {% else %}
                            <li class="scroll-to-section"><a id="login" href="/login">Login</a></li>
                            <li class="scroll-to-section"> <a  id="signUp" href="/sign-up">Sign Up</a></li>
                        {% endif %}
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

{#    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
{#      <button#}
{#        class="navbar-toggler"#}
{#        type="button"#}
{#        data-toggle="collapse"#}
{#        data-target="#navbar"#}
{#      >#}
{#        <span class="navbar-toggler-icon"></span>#}
{#      </button>#}
{#      <div class="collapse navbar-collapse" id="navbar">#}
{#        <div class="navbar-nav">#}
{#          {% if user.is_authenticated %}#}
{#          <a class="nav-item nav-link" id="home" href="/">Home</a>#}
{#          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>#}
{#          {% else %}#}
{#          <a class="nav-item nav-link" id="login" href="/login">Login</a>#}
{#          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>#}
{#          {% endif %}#}
{#        </div>#}
{#      </div>#}
{#    </nav>#}

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div>{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>

  <!--FOR LOGIN - SIGNUP-->
  <!--===============================================================================================-->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>


  <!--FOR HOME-->
  <!-- jQuery -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-2.1.0.min.js') }}"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/popper.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<!-- Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/scrollreveal.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/imgfix.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/mixitup.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/accordions.js') }}"></script>

<!-- Global Init -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
  </body>
</html>
